html, body {
  width: 100%;
  height: 100%;
  background: #83a9aa;
}

/* MOBILE */
.cyj-layout {
  display: flex;
  flex-direction: column-reverse;
}

.cyj-content {
  flex: 1;
}

.cyj-menu {
  width: 150px;
}

.cyj-bloque {
  height: 1000px;
}

.cyj-list-menu {
  position: inherit;
}

/* DESKTOP */
@media (min-width: 992px) {
  .cyj-layout {
    flex-direction: initial;
  }

  .cyj-list-menu {
    position: fixed;
    right: 20px;
    top: 20px;
  }
}