html, body {
  width: 100%;
  height: 100%;
}
html {
  background: url(src/background.png) no-repeat 100% 100%;
  padding: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}
body {
  overflow: auto;
  border: 4px solid #c25a5a;
  background-color: #f3e1c8;
  max-width: 500px;
  margin: auto;
}

/* RESPONSIVE (MOBILE y DESKTOP */

/* Provisional contenido */
.cyj-content-loading {
  text-align: center;
  margin: 90% auto;
}
/************************/

.cyj-content {
  padding: 20px;
}

.header-img {
  width: 100%;;
}

.foto-carmen {
  width: 100%;;
}

.cyj-menu {
  width: 150px;
}

.cyj-bloque {
  _height: 1000px;
}

.cyj-list-menu {
  position: inherit;
  display: none;
}

/* CARRUSEL */
#carouselLocation {
  border: 5px solid #d2af43;
}
.carousel-indicators [data-bs-target],
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #d2af43;
}